.globalLayout {
  background-color: #fff;
  height: 100%;
}

.loginContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .submitter {
    text-align: right;
  }
  :global {
    .ant-card {
      width: 500px;
    }
    .ant-card-body {
      padding: 48px 24px;
    }
  }
}

.listRegular {
  padding: 20px;
}

$wsFixedHeght: 60px;

.workspaceLayout {
  background-color: #f0f2f5;
  :global {
    .ant-layout-header,
    .ant-page-header {
      background-color: #fff;
    }
    .ant-layout-content {
      position: relative;
      margin: 20px 20px 0;
      background-color: #fff;
      overflow: hidden;
    }
    .ant-layout-footer {
      text-align: center;
    }
  }
  &.fixed {
    :global {
      .ant-layout-content {
        padding-bottom: $wsFixedHeght;
        .ant-list {
          height: 100%;
          overflow-y: auto;
        }
      }
    }
  }
}

.fixedDrawer {
  :global {
    .ant-drawer-body {
      justify-content: flex-end;
      align-items: center;
      display: flex;
      padding: 0 24px;
    }
  }
}

:export {
  wsFixedHeght: $wsFixedHeght;
}
